@import "/../bootswatch/cosmo/variables.less";

/*-------------------------------------------------------------------------------------------*/
/*********************************** COMMON STYLES *****************************************/
/*------------------- ------------------------------------------------------------------------*/

body {
	overflow-x: hidden;
}

.App {
	height: 100%;
	font-family: 'Gotham Pro';
	font-weight: normal;
	font-style: normal; 
	background-color: @background-gray;  
}  

.row {
	margin: 0;
}



/*-------------------------------------------------------------------------------------------*/
/*********************************** WSR-MENU STYLES *****************************************/
/*------------------- ------------------------------------------------------------------------*/

.wsr-affix  { 
	/* display: none; */
	background-color: @brand-secondary;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: inherit;
	height: 100vh;
	pointer-events: none;
	-webkit-clip-path: polygon(72% 5%, 50% 100%, 0px 100%, 0px 0px, 100% 0px);
	clip-path: polygon(72% 5%, 50% 100%, 0px 100%, 0px 0px, 100% 0px);
}

.wsr-carousel-menu__bg {
	z-index: 100500;
	background-color: @brand-primary;
	right: 0px;
	position: absolute;
	height: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
	padding-left: 0;
	padding-right: 0;
	width: 20%;
}

.wsr-carousel-menu {
	padding-top: 10%;
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: normal;
	font-size: .8em;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	pointer-events: all;

}

.wsr-carousel-menu-item a {
	color: #838d9d;
	font-weight: 300;
}

.wsr-carousel-menu-item active a {
	color: @brand-primary !important;
}

.wsr-carousel-menu > li > a {
	padding: 1em 1.5em;
	padding-left: 20%;
	color: white;
}

.wsr-affix-background {
	background-image: url(/Images/menu.svg);
	background-size: cover;
	height: 100%;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	pointer-events: none;
}

.wsr-title {
	padding-left: 5%;
	padding-top: 2em;
	color: white;
	pointer-events: none;
}

.wsr-title-descriptor {
	font-family: 'Gotham Pro';
	font-weight: 100;
	font-style: normal;
	color: #838d9d;
	font-size: 0.7em;
	pointer-events: all;
}

.wsr-title-primary {
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: normal;
	font-size: .8em;
	pointer-events: all;
}

.wsr-title-logo {
	padding-top: 10%; 
	width: 50%;
	display: flex; 
	justify-content:center;
	pointer-events: all;
}

.wsr-title-logo img {
	width: 9vw;
	height: 9vw;
	margin-left: 2em;
}

.wsr-skewed-btn span {
	color: white;
	opacity: 1;
	text-align: left;
	padding-left: 1.5em;
	font-size: .9em;
}

.wsr-skewed-btn {
	background-color: transparent;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 0;
	border-left: 0;
	color: white;
	width: 100%;
	height: 2.5em;
	margin-top: 10%;
	pointer-events: all;
}

.wsr-menu {
	padding-top: 10%;
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: normal;
	font-size: .8em;

	pointer-events: all;

}

.wsr-menu-item a {
	color: #838d9d;
	font-weight: 700;
}

.wsr-menu > li > a {
	padding: .7em 1.5em;
}

.wsr-menu__container {
	margin-left: -15px;
}

/*-------------------------------------------------------------------------------------------*/
/********************************** BURGER MENU STYLES ***************************************/
/*-------------------------------------------------------------------------------------------*/

.wsr-burger__background {
	 display: none; /* Large screen */
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: @brand-secondary;
	height: 100%;
	z-index: 10000;


}

.wsr-burger__icon {
	padding-top: 3vw;
	color: white;
	width: 100%;
	z-index: 4526262;
	font-size: 5vw;
}




/*-------------------------------------------------------------------------------------------*/
/*********************************** WSR-LOGO STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/



.ri-big{
	transform: scale(1.2);
	opacity: 0.5;
	margin-right: 5%;
}

.wsr_annouce-label {
	margin-top: 0px;

}

.wsr-logo-square {
	
	float: right;
	margin: 0;
	width: 152%;
}

.carousel {
	background-color: rgba(0,0,0,.5);
	background-size: cover;

}

.wsr-carousel-image {
	width: 100%;
	height: 100%;
}


.wsr-red {
	margin-top: 5%;
	color: @brand-primary;
}

.wsr-white {
	color: white;
}

.wsr-category {
	color: @gray-light;
	font-weight: normal;
}

.wsr-thumbnail--active {
	border: 0px solid #dddddd;
	background-color: @gray-lightest;
}

.wsr-thumbnail {
	border: none;

}

h4 {

	font-weight: bold;

}

.wsr-media {
	margin-top: 0;
}

.thumbnail .caption {

	padding: 0px;
}


p {
	opacity: .7;
}

.label {
	background-color: @brand-primary;
}

.well {
	border: none;
}

.wsr-whole-category {
	float: right;
	vertical-align: bottom;
	display: inline-block;
	background-color: @gray-light;
	border: none;


}

.wsr-vertical-align {
	display: flex;
	align-items: baseline;
	justify-content: space-between; 
}


.horizontal-divider {
	border-bottom: solid 1px @gray-lighter;
}


.wsr-sponsor{
	height: 2em;
	opacity: 0.7;
}
.wsr-sponsor:hover{
	height: 2em;
	opacity: 1;
	cursor: pointer; 
}

.wsr-vertical-align--center {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.wsr-topbar {
	background-color: @brand-primary; 
	border: none;
}

.wsr-footer {
	background-color: @brand-secondary;

}

.wsr-footer-menu {
	font-weight: bold;
	color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: @brand-secondary;
	background-color: rgba(255, 255, 255, 1);

}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: rgba(255, 255, 255, .3);
	color: white;
	transition: 300ms ease-out;
}

.nav-stacked > li + li {
	margin: 0;
}


/*-------------------------------------------------------------------------------------------*/
/*********************************** WSR-BLOCK STYLES ****************************************/
/*-------------------------------------------------------------------------------------------*/


.wsr-block {
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	z-index: 103;
	margin-top: 20px;
	transition: 300ms ease-out;
}
.wsr_block__container {
	padding-right: 0px;
}

.wsr-block__image-container {
	padding-right: 0px;
}
.wsr-block:hover{
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
}

.wsr-block-important {
	border-left: 3px solid @brand-primary;
}
.wsr-block-important h5 {
	color: @brand-primary;
}
.wsr-block-important a {
	color: @brand-primary;
	font-weight: bold;
	opacity: 1;
}

.wsr-block-announce {
	border-left: 3px solid @brand-secondary;
}

.wsr-block-announce h5 {
	color: @brand-secondary;
}
.wsr-block-announce a {
	color: @brand-secondary;
	font-weight: bold;
	opacity: 1;
}

.wsr-block__heading {
	cursor: pointer;
	font-weight: 300;
	color: @brand-primary;
	margin-top: 0;
	padding-top: 20px;
	padding-left: 10px;
}  

.wsr-block__heading:hover {
	opacity: 0.8;
}

.wsr-block__description {
	font-size: 0.9em;
	padding-left: 5px;
	opacity: 0.8;
}

.wsr-block__date {
	font-weight: bold;
	font-size: 0.8em;
	bottom: 0px;
	padding: .8em 0 0 10px;
	margin: 0;
	margin-bottom: 20px;
}

.wsr-block__date-icon {
	margin-right: .8em;
	opacity: 1 !important;
}

.wsr-block__image {
	border-radius: 0 3px 3px 0;
	-webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
	clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
}

.wsr-block__title {
	font-weight: 100;
	font-size: 1.1em;
	opacity: 0.8;
	margin: 0;
	padding-top: 30px;
	margin-bottom: -10px;
}

.wsr-block__title span {
	font-weight: 100;
	font-size: 1.1em;
	opacity: 0.8;
	margin: 0;
	padding: 0;
}

.wsr-block-news {
	padding-right: 15px;

}

.wsr-block-news h5 {
	color: @brand-secondary;
}

.wsr-block-news a {
	color: @brand-secondary;
	font-weight: bold;
	opacity: 1;
}

.wsr_block-menu__divider {
	margin-left: 15px;
	height: 1px;
	border-bottom: 2px dotted @brand-secondary;
	opacity: 0.1;
}

.wsr-block-partners {
	border-radius: 3px 0px 0px 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	z-index: 103;
	margin-top: 20px;
}
.wsr-partner-container {
	width: 80%;
	vertical-align: middle;
}

.center-block {
	padding: 0px;
}

.wsr-parther-logo {
	opacity: 0.5;
	height: 100px;
	width: 80%;
	padding: 5%;
}

/*-------------------------------------------------------------------------------------------*/
/********************************** BLOCK-NUMBERS STYLES *************************************/
/*-------------------------------------------------------------------------------------------*/

.wsr-numbers__item  {
	padding-top: 0px;
	padding-left:20px;
	vertical-align: top;
}

.wsr-numbers__item  h1{
	font-weight: 100;
	color: @brand-secondary;
}

.wsr-numbers__description {
	font-size: 0.8em;
	opacity: 0.8;
}

.wsr-numbers__row {
	padding-bottom: 20px;
}



/*-------------------------------------------------------------------------------------------*/
/************************************* GALLERY STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/

.wsr-gallery {
	max-width: 100%;
	margin-top: 5em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}

.wsr-gallery-item {
	height: 20vw;
	transition: 300ms ease-out;
}

.wsr-gallery-item:hover {
	opacity: 0.6;
	cursor: pointer;
}


/*-------------------------------------------------------------------------------------------*/
/************************************* FOOTER STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/

.wsr-footer {
	height: 20vw;
	background: @brand-primary;
	padding: 20px;
}

.wsr-footer__heading {
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
	padding-bottom: 2em;
}

.wsr-footer p{
	cursor: pointer;
	color: white;
	opacity: 0.5;
	font-size: 0.7em;
}

.wsr-footer__divider {
	margin-bottom: 15px;
	margin-left: 15px;
	height: 1px;
	border-bottom: 2px dotted white;
	opacity: 0.1;
}



