/*-------------------------------------------------------------------------------------------*/
/*********************************** COMMON STYLES *****************************************/
/*------------------- ------------------------------------------------------------------------*/
body {
  overflow-x: hidden;
  transition: 100ms ease-in;
}
.App {
  height: 100%;
  font-family: 'Gotham Pro';
  font-weight: normal;
  font-style: normal;
  background-color: #F5F5F5;
}
h2 h3 {
  font-weight: normal !important;
}
.btn-default {
  background-color: #CE112D;
  border-color: #CE112D;
}
a:any-link {
  color: -webkit-link;
  text-decoration: none !important;
  cursor: pointer;
}
a:any-link {
  color: #333333;
}
.wsr-menu a:any-link {
  color: #838d9d;
  font-weight: 700 !important;
}
.wsr-menu a:any-link:visited {
  color: #838d9d;
  text-decoration: none !important;
  cursor: pointer;
}
.wsr-menu a:any-link:hover {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  opacity: 1;
}
li .active > a:any-link {
  text-decoration: none !important;
  cursor: pointer;
  opacity: 1;
  font-weight: normal;
}
.wsr-menu > li.active > a:hover {
  color: #002b4a !important;
}
.row {
  margin: 0;
}
/*-------------------------------------------------------------------------------------------*/
/*********************************** WSR-MENU STYLES *****************************************/
/*------------------- ------------------------------------------------------------------------*/
.wsr-affix-container {
  direction: ltr;
}
.wsr-affix {
  overflow-y: auto;
  background-color: #002b4a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: inherit;
  height: 100vh;
  pointer-events: none;
  -webkit-clip-path: polygon(72% 5%, 50% 100%, 0px 100%, 0px 0px, 100% 0px);
  clip-path: polygon(72% 5%, 50% 100%, 0px 100%, 0px 0px, 100% 0px);
  clip-path: url("#ClipAffix");
}
.wsr-carousel-menu__bg {
  z-index: 100500;
  background-color: #CE112D;
  right: 0px;
  position: absolute;
  height: inherit;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
  clip-path: url("#ClipRight");
  padding-left: 0;
  max-height: 400px;
  padding-right: 0;
}
.wsr-col-inherit {
  height: inherit;
}
.wsr-header__image {
  background-image: url(/Images/carousel/gallery02.jpg);
  height: 50vh;
  max-height: 400px;
  width: 100%;
  background-size: cover;
  margin-bottom: 20px;
}
.wsr-header__carousel {
  margin-bottom: 20px;
}
.wsr-carousel-menu {
  padding-top: 10%;
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  font-size: .8em;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  pointer-events: all;
}
.wsr-carousel-menu-item a {
  color: #838d9d;
  font-weight: 300;
}
.wsr-carousel-menu-item active a {
  color: #CE112D !important;
}
.wsr-carousel-menu > li > a {
  padding: 1em 1.5em;
  padding-left: 20%;
  color: white;
}
.wsr-affix-background {
  background-image: url(/Images/menu.svg);
  background-size: cover;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  pointer-events: none;
}
.wsr-title {
  padding-left: 5%;
  padding-top: 2em;
  color: white;
  pointer-events: none;
}
.wsr-title-descriptor {
  font-family: 'Gotham Pro';
  font-weight: 100;
  font-style: normal;
  color: #838d9d;
  font-size: 80%;
  pointer-events: all;
}
.wsr-title-primary {
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  font-size: 80%;
  pointer-events: all;
}
.wsr-title-logo {
  padding-top: 10%;
  width: 50%;
  display: flex;
  justify-content: center;
  pointer-events: all;
}
.wsr-title-logo img {
  width: 9vw;
  height: 9vw;
  margin-left: 2em;
  transition: 250ms ease-out;
}
.wsr-skewed-btn span {
  color: white;
  opacity: 1;
  text-align: left;
  padding-left: 1.5em;
  font-size: .9em;
  padding-bottom: 20px;
}
.skew-right {
  padding-right: 1em;
}
.wsr-skewed-btn {
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 0;
  border-left: 0;
  color: white;
  width: 100%;
  height: 2.5em;
  margin-top: 10%;
  pointer-events: all;
  transition: 200ms ease-in;
}
.wsr-skewed-btn:hover {
  box-shadow: 0px 2px 20px 0px rgba(255, 255, 255, 0.3);
  border: 0;
}
.wsr-menu {
  padding-top: 10%;
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  font-size: .8em;
  pointer-events: all;
}
.wsr-menu-item a {
  color: #838d9d;
  font-weight: 700;
}
.wsr-menu > li > a {
  padding: .7em 1.5em;
}
.wsr-menu__container {
  margin-left: -15px;
}
/*-------------------------------------------------------------------------------------------*/
/*********************************** WSR-LOGO STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/
.ri-big {
  transform: scale(1.2);
  opacity: 0.5;
  margin-right: 5%;
}
.wsr_annouce-label {
  margin-top: 0px;
}
.wsr-logo-square {
  float: right;
  margin: 0;
  width: 152%;
}
.carousel {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}
.wsr-carousel-image {
  width: 100%;
  height: 100%;
}
.wsr-red {
  margin-top: 5%;
  color: #CE112D;
}
.wsr-white {
  color: white;
}
.wsr-category {
  color: #999999;
  font-weight: normal;
}
.wsr-thumbnail--active {
  border: 0px solid #dddddd;
  background-color: #f2f2f2;
}
.wsr-thumbnail {
  border: none;
}
h4 {
  font-weight: bold;
}
.wsr-media {
  margin-top: 0;
}
.thumbnail .caption {
  padding: 0px;
}
p {
  opacity: .7;
}
.label {
  background-color: #CE112D;
}
.well {
  border: none;
}
.wsr-whole-category {
  float: right;
  vertical-align: bottom;
  display: inline-block;
  background-color: #999999;
  border: none;
}
.wsr-vertical-align {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.horizontal-divider {
  border-bottom: solid 1px #e6e6e6;
}
.wsr-sponsor {
  height: 2em;
  opacity: 0.7;
}
.wsr-sponsor:hover {
  height: 2em;
  opacity: 1;
  cursor: pointer;
}
.wsr-vertical-align--center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wsr-topbar {
  background-color: #CE112D;
  border: none;
}
.wsr-footer {
  background-color: #002b4a;
}
.wsr-footer-menu {
  font-weight: bold;
  color: white;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #CE112D;
  background-color: #ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  transition: 300ms ease-out;
}
.nav-stacked > li + li {
  margin: 0;
}
.nav-tabs > li > a {
  color: #555555;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #CE112D;
}
.nav-tabs > li > a:active {
  color: #CE112D;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: #CE112D;
  transition: 300ms ease-out;
}
/*-------------------------------------------------------------------------------------------*/
/*********************************** WSR-BLOCK STYLES ****************************************/
/*-------------------------------------------------------------------------------------------*/
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wsr-block {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 103;
  margin-bottom: 20px;
  transition: 300ms ease-out;
}
.wsr_block__container {
  padding-right: 0px;
  padding-left: 20px;
  font-size: 0.9em;
}
.wsr-block__image-container {
  padding-right: 0px;
}
.wsr-block:hover {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
}
.wsr-block-important {
  border-left: 3px solid #CE112D;
}
.wsr-block-important h5 {
  color: #CE112D;
}
.wsr-block-important a {
  color: #CE112D;
  font-weight: bold;
  opacity: 1;
}
.wsr-block-announce {
  border-left: 3px solid #002b4a;
}
.wsr-block-announce h5 {
  color: #002b4a;
}
.wsr-block-announce a {
  color: #002b4a;
  font-weight: bold;
  opacity: 1;
}
.wsr-block__heading {
  cursor: pointer;
  color: #CE112D;
  margin-top: 0;
  padding-top: 20px;
}
.wsr-block__heading h2,
h3 {
  font-weight: normal;
}
.wsr-block__heading h4,
h5 {
  font-weight: 300;
}
.wsr-block__heading:hover {
  opacity: 0.8;
}
.wsr-block__description {
  opacity: 0.8;
  padding-top: 0.2em;
}
.wsr-block__date {
  font-weight: bold;
  font-size: 0.8em;
  bottom: 0px;
  padding: .8em 0 0 0;
  margin: 0;
  margin-bottom: 20px;
}
.wsr-block__date-icon {
  margin-right: .8em;
  opacity: 1 !important;
}
.wsr-block__title {
  font-weight: 100;
  font-size: 1.1em;
  opacity: 0.8;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.wsr-block__title:hover {
  opacity: 0.5;
}
.wsr-block__title span {
  font-weight: 100;
  font-size: 1.1em;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}
.wsr-block-news {
  padding-right: 15px;
}
.wsr-block-news h5 {
  color: #002b4a;
}
.wsr-block-news a {
  color: #002b4a;
  font-weight: bold;
  opacity: 1;
}
.wsr_block-menu__divider {
  margin-left: 15px;
  height: 1px;
  border-bottom: 2px dotted #002b4a;
  opacity: 0.1;
}
.wsr-block-partners {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 103;
}
.wsr-partner-container {
  width: 80%;
  vertical-align: middle;
}
.center-block {
  padding: 0px;
}
.wsr-parther-logo {
  opacity: 0.5;
  height: 100px;
  width: 80%;
  padding: 5%;
}
/*-------------------------------------------------------------------------------------------*/
/********************************** BLOCK-NUMBERS STYLES *************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-numbers__item {
  padding-top: 0px;
  padding-left: 20px;
  vertical-align: top;
}
.wsr-numbers__item h1 {
  font-weight: 100;
  color: #002b4a;
}
.wsr-numbers__description {
  font-size: 0.8em;
  opacity: 0.8;
}
.wsr-numbers__row {
  padding-bottom: 20px;
}
/*-------------------------------------------------------------------------------------------*/
/************************************* GALLERY STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-gallery {
  max-width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
.wsr-gallery-item {
  width: 25%;
  transition: 300ms ease-out;
}
.wsr-gallery-item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.owl-theme {
  margin-top: 5em;
}
/*-------------------------------------------------------------------------------------------*/
/************************************* FOOTER STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-footer {
  height: auto;
  background: #CE112D;
  padding: 20px;
}
.wsr-footer__heading {
  color: white;
  font-size: 0.8em;
  margin-bottom: 1em;
  display: block;
}
.wsr-footer__title {
  color: white;
  font-size: 0.8em;
  margin-bottom: 1em;
  display: block;
  font-weight: bold;
}
.wsr-footer__heading i {
  opacity: 0.8;
  font-style: normal;
}
.wsr-footer__menu a {
  cursor: pointer;
  color: white;
  opacity: 0.5;
  font-size: 0.7em;
  display: block;
  padding-bottom: 1em;
}
.wsr-footer__divider {
  margin-left: 15px;
  height: 1px;
  border-bottom: 2px dotted white;
  opacity: 0.1;
  margin-bottom: 1em;
}
.wsr-footer__social-icons {
  font-size: 1.5em;
  padding: 0 1em 0 0em;
  color: white !important;
}
/*-------------------------------------------------------------------------------------------*/
/************************************* SIDEBAR STYLES *****************************************/
/*-------------------------------------------------------------------------------------------*/
.bm-menu-wrap {
  background: #002b4a;
}
.bm-burger-button {
  z-index: 1000500;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2vw;
  height: 1.5vw;
  left: 3vw;
  top: 3vw;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/* General sidebar styles */
.bm-menu {
  background: #002b4a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 2vw;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/*-------------------------------------------------------------------------------------------*/
/********************************** BURGER MENU STYLES ***************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-burger__icon {
  color: white;
  width: 100%;
  z-index: 4526262;
  font-size: 2vw;
  cursor: pointer;
}
/* .wsr-burger__icon:active svg{
	transform: rotate(90deg);
	transition: 200ms ease-out;
}

*/
/*-------------------------------------------------------------------------------------------*/
/********************************** NAVBAR MENU STYLES ***************************************/
/*-------------------------------------------------------------------------------------------*/
.navbar-inverse {
  background-color: #002b4a;
  border: none;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #CE112D;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #CE112D;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #CE112D;
}
/*-------------------------------------------------------------------------------------------*/
/************************************ PAGE MENU STYLES ***************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-page__heading {
  cursor: pointer;
  color: #CE112D;
  margin-top: 0;
  padding-top: 2em;
  font-weight: normal !important;
}
.wsr_page__container {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 2em;
}
.wsr-page__description {
  font-size: 0.9em;
  opacity: 1;
}
.wsr-page .thumbnail {
  margin-top: 2em;
}
.wsr-page__description p {
  opacity: 0.8;
  padding-top: 2em;
  margin-bottom: 0;
}
.wsr-page {
  border-top: 3px solid #CE112D;
}
.wsr-page h1,
h2,
h3,
h4,
h5,
h6 {
  color: #CE112D;
  margin-bottom: 0px;
}
.wsr-page a {
  color: #CE112D;
  font-weight: bold;
  opacity: 1;
}
.wsr-page .thumbnail {
  margin-bottom: 0;
}
.wsr-page__panel {
  margin-top: 1em;
}
.wsr-page__gallery .owl-theme {
  margin-top: 0px;
  border-radius: 3px;
}
.wsr-page__gallery .owl-item {
  height: 220px;
  width: 100%;
}
/*-------------------------------------------------------------------------------------------*/
/************************************ TAB SELECTOR STYLES ************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-competence-category > li {
  border-bottom: 1px solid #dddddd;
}
.wsr-competence-category > li > a {
  transition: 100ms ease-in;
}
.wsr-competence-category > li > a:hover {
  color: #CE112D;
  font-weight: normal;
}
.wsr-competence-category > li.active > a {
  color: #CE112D;
  font-weight: 300;
}
.panel-title > a {
  font-weight: normal;
}
.panel > .list-group {
  border-left: 3px solid #CE112D;
  transition: 100ms ease-in;
}
.wsr-competence-category > li:first-child {
  border-top: 1px solid #dddddd;
}
.wsr-competence__title {
  color: #CE112D;
  margin-top: 0;
}
.dropdown-backdrop {
  position: static;
}
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
.wsr-team__description > .row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.wsr-team__member-photo--primary {
  border: 2px solid white;
  outline-offset: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px #CE112D;
  -moz-box-shadow: 0px 0px 0px 2px #CE112D;
  box-shadow: 0px 0px 0px 2px #CE112D;
}
.wsr-team__member-photo--secondary {
  border: 2px solid white;
  outline-offset: 5px;
  -webkit-box-shadow: 0px 0px 0px 2px #999999;
  -moz-box-shadow: 0px 0px 0px 2px #999999;
  box-shadow: 0px 0px 0px 2px #999999;
}
.wsr-team__member--primary {
  display: block;
  font-weight: 300;
  color: #CE112D;
}
.wsr-team__member--secondary {
  display: block;
  font-weight: 300;
}
.wsr-team__divider {
  width: 100%;
  height: 1px;
}
.wsr-team__host {
  display: block;
  font-size: 0.8em;
  bottom: 0px;
  padding: .8em 0 0 0;
  margin: 0;
}
.wsr-team-label__primary {
  background-color: #CE112D;
}
.wsr-team-label__secondary {
  background-color: #999999;
}
/*-------------------------------------------------------------------------------------------*/
/************************************* SEARCH FORM STYLES ************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-btn-search {
  background-color: #999999;
  transition: 100ms ease-in;
  border: 1px solid #999999;
}
.wsr-btn-search:hover {
  background-color: #CE112D;
  border: 1px solid #CE112D;
}
.ri-search {
  transform: scale(1.5);
}
/*-------------------------------------------------------------------------------------------*/
/***************************************** EXPERTS STYLES ************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-expert-panel {
  margin-top: 5px;
}
.wsr-expert-panel .panel-heading {
  background-color: white;
  cursor: pointer;
}
.wsr-expert-panel .panel-heading h4 {
  background-color: white;
  color: #002b4a;
}
.wsr-expert-panel .panel-title > a {
  font-weight: 300 !important;
  font-size: 15px;
}
.wsr-expert-panel .panel + .panel {
  margin-top: 20px;
}
.wsr-expert-panel .panel-body {
  padding: 0px;
}
.table > tr > td {
  padding-left: 15px;
  padding-right: 15px;
}
.wsr-expert-table {
  margin-bottom: 0px;
}
.wsr-location-table {
  margin-bottom: 0px;
}
.table-striped > thead > tr > th {
  opacity: 0.8;
  font-weight: 100 !important;
  background-color: #f9f9f9;
}
/*-------------------------------------------------------------------------------------------*/
/***************************************** SCK STYLES ****************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-row-negative {
  margin-left: -15px;
  margin-right: -15px;
}
.ri-down {
  margin-right: 1em;
  transform: scale(1.2);
}
.ri-contacts {
  opacity: 0.6;
  margin-right: 0.5em;
  vertical-align: middle;
}
.wsr-expert__name {
  font-weight: 300;
  color: #002b4a;
  margin-bottom: 10px;
}
.wsr-file-list {
  margin-top: 2em;
}
.wsr-file-list a {
  color: #002b4a;
  font-weight: 300;
}
.wsr-file-list a:hover {
  color: #CE112D;
}
.wsr-file-list a:hover {
  color: #CE112D;
}
.wsr-file-list__file-size {
  display: none;
  vertical-align: middle;
  transition: 100ms ease-in;
  margin-left: 1em;
}
.wsr-file-list a:hover .wsr-file-list__file-size {
  display: inline-block;
}
.wsr-location-label {
  opacity: 0;
  background-color: #002b4a;
  cursor: pointer;
}
.wsr-location-table tr:hover .wsr-location-label {
  opacity: 1;
}
/*-------------------------------------------------------------------------------------------*/
/***************************************** PARTNER STYLES *************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr_partner__container {
  padding: 2em;
}
.wsr-partner-logo {
  vertical-align: middle;
}
.wsr-partner-description {
  padding-left: 1em;
  border-left: 1px solid #e6e6e6;
}
/*-------------------------------------------------------------------------------------------*/
/************************************ PHOTOGALLERY STYLES *************************************/
/*-------------------------------------------------------------------------------------------*/
.wsr-photo-gallery-row {
  margin-left: -15px;
  margin-right: -15px;
}
.wsr-photo-gallery-item {
  padding: 0;
  height: 370px;
}
.wsr-photo-gallery-item img {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
}
.wsr-photo-gallery-item__description {
  padding: 0px 15px 10px 15px;
}
/*-------------------------------------------------------------------------------------------*/
/************************************ LOGIN FORM STYLES *************************************/
/*-------------------------------------------------------------------------------------------*/
.form-horizontal .control-label {
  color: #CE112D;
}
.wsr-login-block {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 1em;
  padding-top: 2em;
  border-top: 3px solid #CE112D;
}
.wsr-forgot-password p {
  padding-top: 11px;
}
.wsr-side-menu {
  border: none;
}
.wsr-side-menu > li:active {
  color: white;
  background-color: #CE112D;
}
.wsr-side-menu > li {
  border-bottom: 1px solid #dddddd;
}
.wsr-side-menu > li > a:hover {
  background-color: #f5f5f5;
}
.wsr-side-menu > li > a:hover,
.wsr-side-menu > li > a:focus {
  color: #333;
}
li.wsr-side-menu__item .active,
li.wsr-side-menu__item:focus > a {
  background-color: #CE112D;
}
.wsr-side-menu > li.active > a,
.wsr-side-menu > li.active > a:hover,
.wsr-side-menu > li.active > a:focus {
  background-color: #CE112D;
  color: white;
}
/*-------------------------------------------------------------------------------------------*/
/************************************ SPINNER LOADER STYLES **********************************/
/*-------------------------------------------------------------------------------------------*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #999999;
  font-size: 4px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.3em;
  height: 10.3em;
  background: #f5f5f5;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.3em;
  height: 10.3em;
  background: #f5f5f5;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.wsr-contact__name {
  font-weight: 300;
  color: #002b4a;
  margin-bottom: 10px;
}
.wsr-contact__phone,
.wsr-contact__email {
  white-space: nowrap;
}
.Cal__Header__root {
  background-color: #002b4a !important;
}
.Cal__Weekdays__root {
  background-color: #00497d !important;
}
.Cal__Day__selection {
  background-color: #CE112D !important;
}
.Cal__Header__date {
  font-family: "Gotham Pro" !important;
  font-size: 1em;
}
.Cal__Month__rows {
  background: white !important;
}
/*
Should we change this at all?
.form-control:focus {
  border-color: @brand-secondary;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 43, 74, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 43, 74, 0.6);
}
*/
@media (min-width: 1200px) {
  .wsr-title-descriptor {
    font-size: 0.7vw;
  }
  .wsr-title-primary {
    font-size: 0.75vw;
  }
  .wsr-burger__background {
    display: none;
  }
  .navbar-inverse {
    display: none;
  }
  .wsr-block__image {
    border-radius: 0 3px 3px 0;
    -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: url("#ClipBlock");
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wsr-title-descriptor {
    font-size: 1.1vw;
  }
  .wsr-title-primary {
    font-size: 1.2vw;
  }
  .wsr-burger__background {
    display: none;
  }
  .navbar-inverse {
    display: none;
  }
  .wsr-block__image {
    border-radius: 0 3px 3px 0;
    -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: url("#ClipBlock");
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wsr-title-descriptor {
    font-size: 1.2vw;
  }
  .wsr-title-primary {
    font-size: 1.2vw;
  }
  .wsr-burger__background {
    display: none;
  }
  .navbar-inverse {
    display: none;
  }
  .wsr-block__image {
    border-radius: 0 3px 3px 0;
    -webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: url("#ClipBlock");
  }
  .wsr-carousel-menu__bg {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .wsr-header__image {
    display: none;
  }
  .wsr-title-descriptor {
    font-size: 1.2vw;
  }
  .wsr-title-primary {
    font-size: 1.2vw;
  }
  .wsr-affix {
    display: none;
  }
  .wsr-block__image-container {
    padding-left: 0px;
  }
  .wsr-block__image {
    border-radius: 0px 0px 3px 0px;
  }
  .wsr-carousel-menu__bg {
    display: none;
  }
  .wsr-header__carousel {
    padding-top: 50px;
  }
}
@media (max-width: 480px) {
  .wsr-header__image {
    display: none;
  }
  .wsr-title-descriptor {
    font-size: 1.2vw;
  }
  .wsr-title-primary {
    font-size: 1.2vw;
  }
  .wsr-affix {
    display: none;
  }
  .wsr-block__image-container {
    padding-left: 0px;
  }
  .wsr-block__image {
    border-radius: 0px 0px 3px 0px;
  }
  .wsr-carousel-menu__bg {
    display: none;
  }
  .wsr-header__carousel {
    padding-top: 50px;
  }
}
